
  <% for (var i in quizzes) { %>        
     <tr>
        <td>
           <a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
        </td>
        <td>
           <a href="/quizzes/<%= quizzes[i].id %>/edit"><button>editar</button></a>
        </td>
        <td>
           <a href="/quizzes/<%= quizzes[i].id %>?_method=DELETE" 
              onClick="return confirm('Borrar: <%= quizzes[i].question %>');">
              <button>borrar</button>
           </a>
        </td>
     </tr> 
  <% } %>
</table>
<form action="/quizes" method="get">
    <p>Buscador de preguntas: </p>
    <input type="text" name="search" value="texto a buscar">
    <input type="submit" value="Buscar">
  </form>

<a href="/quizzes/new"><button type="button">Crear pregunta</button></a>